{{worker.worker_name}}

<!--<form action="{% url 'client:date_time' worker.id %}" method="post">-->
<form action="/client/workers/1/date_time/" method="post">
{% csrf_token %}
{% for service in worker.service_set.all %}
    <input type="checkbox" name="service-{{ service.id }}" id="service-{{ service.id }}" value="{{ service.id }}">
    <label for="service-{{ service.id }}">{{service.service_name}} - {{service.price}} - {{service.duration}} </label><br>
{% endfor %}
<br><input type="submit" value="Date Time">
</form>

<br><a href="{% url 'client:menu' %}">MENU</a>